@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "normalize.scss";
@import "fonts.scss";

#wrapper {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}
.container {
  min-width: 940px;
  max-width: 940px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 670px;
  background: url("../img/header_background.png") center no-repeat;
  position: relative;
  &-container {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    color: #ffffff;
    &-navBar {
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      &-logo {
        display: flex;
        height: 50px;
        align-items: center;
        img {
          height: 50px;
          width: 44px;
          margin-right: 11px;
          &:hover {
            cursor: pointer;
          }
        }
        .logoName {
          height: fit-content;
          padding-bottom: 6px;
          margin: 0;
          background: linear-gradient(to top, #00e0d0, #4aa3cc), linear-gradient(to bottom, #ffffff, #ffffff);
          font-family: "Roboto-Thin";
          font-size: 30px;
          color: #ffffff;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          &:hover {
            cursor: pointer;
          }
        }
      }
      &-navigation {
        display: flex;
        align-items: center;
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          list-style-type: none;
          width: 526px;
          justify-content: space-between;
          li {
            font-family: "Roboto-Black";
            font-size: 13px;
            letter-spacing: 1px;
            text-align: right;
            color: #ffffff;
            a {
              transition: color 0.5s;
              &:hover {
                cursor: pointer;
                color: #4aa3cc;
              }
            }
          }
        }
      }
    }
    &-centerBlock {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        max-width: 771px;
        margin-top: 163px;
        font-family: "PlayfairDisplay-Black";
        font-size: 32px;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
      }
      &__text {
        max-width: 771px;
        text-align: center;
        font-family: "Roboto-Light";
        font-size: 14px;
        font-weight: 300;
        line-height: 1.7;
        letter-spacing: 0.7px;
        text-align: center;
        color: #ffffff;
      }
      &__separator {
        margin-top: 21px;
        margin-bottom: 30px;
        width: 50px;
        height: 1px;
        background-color: #00e0d0;
      }

      &__button {
        margin-top: 50px;
        width: 120px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #00e0d0;
        color: #00e0d0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: box-shadow 0.5s;
        &:hover {
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          cursor: pointer;
        }
      }
      &-sliderBlock {
        width: 55px;
        margin-top: 127px;
        height: 10px;
        display: flex;
        justify-content: space-between;
        &__item {
          height: 10px;
          width: 10px;
          border: solid 1px #c2c2c2;
          border-radius: 50%;
          box-sizing: border-box;
        }
        .active {
          background-color: #00e0d0;
        }
      }
    }
  }
  &::after {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(to top, #09052f, #311d5e);
    opacity: 0.85;
  }
}
.story {
  margin-top: 70px;
  &-container {
    display: flex;
    justify-content: space-between;
    &-logo {
      width: 235px;
      height: 229px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-description {
      max-width: 538px;
      &__title {
        font-family: "PlayfairDisplay-Bold";
        font-size: 22px;
        letter-spacing: 1px;
        text-align: left;
        color: #413d4b;
        margin-bottom: 28px;
      }
      &-text {
        p {
          opacity: 0.75;
          font-family: "Roboto-Light";
          font-size: 14px;
          line-height: 1.6;
          letter-spacing: 0.5px;
          text-align: left;
          color: rgba(65, 61, 75, 0.75);
        }
      }
      &__button {
        margin-top: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
        width: 120px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #00e0d0;
        font-family: "HammersmithOne-Regular";
        font-size: 16px;
        text-align: center;
        color: #00e0d0;
        transition: box-shadow 0.5s;
        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          cursor: pointer;
        }
      }
    }
  }
}

.videoBlock {
  z-index: 1;
  position: relative;
  height: 549px;
  background: url("../img/backgroundVideo.png") center no-repeat;
  &::after {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    opacity: 0.85;
    background-image: linear-gradient(to top, #09052f, #311d5e);
  }
  &-container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__button {
      position: relative;
      margin-top: 202px;
      width: 100px;
      height: 100px;
      border: solid 3px #ffffff;
      border-radius: 50%;
      margin-bottom: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: box-shadow 0.5s;
      &:hover {
        box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
        cursor: pointer;
      }
      img {
        margin-left: 10px;
        width: 37px;
        height: 50px;
      }
    }
    &__description {
      font-family: "Roboto-Bold";
      font-size: 16px;

      letter-spacing: 0.8px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.expertise {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      margin-top: 72px;
      font-family: "PlayfairDisplay-Bold";
      font-size: 22px;
      letter-spacing: 1.1px;
      text-align: center;
      color: #413d4b;
    }
    &__text {
      margin-top: 16px;
      opacity: 0.75;
      font-family: "PlayfairDisplay-Regular";
      font-size: 14px;
      letter-spacing: 1.05px;
      text-align: center;
      color: rgba(47, 45, 53, 0.75);
      margin-bottom: 18px;
    }
    &__separator {
      width: 50px;
      height: 2px;
      opacity: 0.3;
      background-color: #413d4b;
      margin-bottom: 48px;
    }
    &-content {
      margin-bottom: 68px;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      &-item {
        padding: 39px 33px;
        box-sizing: border-box;
        max-width: 33.3333333333333333%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__picture {
          width: 50px;
          height: 50px;
          margin-bottom: 35px;
          img {
          }
        }
        &__title {
          max-width: 254px;
          font-family: "Roboto-Black";
          font-size: 14px;
          letter-spacing: 0.7px;
          text-align: center;
          color: #413d4b;
          margin-bottom: 25px;
        }
        &__text {
          max-width: 254px;
          opacity: 0.75;
          font-family: "Roboto-Light";
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: 0.7px;
          text-align: center;
          color: rgba(51, 51, 51, 0.75);
        }
      }
      .item1 {
      }
      .item2 {
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
      }
      .item3 {
      }
      .item4 {
        border-top: 1px solid lightgrey;
      }
      .item5 {
        border-top: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
      }
      .item6 {
        border-top: 1px solid lightgrey;
      }
    }
  }
}

.team {
  position: relative;
  background: url("../img/backgroundTeam.png") center no-repeat;
  &::after {
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(to top, #09052f, #311d5e);
    opacity: 0.85;
  }
  &-container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      margin-top: 71px;
      font-family: "PlayfairDisplay-Bold";
      font-size: 22px;
      letter-spacing: 1.1px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 16px;
    }
    &__text {
      font-family: "PlayfairDisplay-Regular";
      font-size: 14px;
      letter-spacing: 1.05px;
      text-align: center;
      color: #f9f9f9;
      margin-bottom: 18px;
    }
    &__separator {
      width: 50px;
      height: 2px;
      opacity: 0.2;
      background-color: #ffffff;
      margin-bottom: 47px;
    }
    &-team {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 70px;
      &-item {
        border: solid 1px #e1e1e1;
        box-sizing: border-box;
        width: 200px;
        height: 309px;
        background-color: transparent;
        &__photo {
          width: 100%;
          height: 229px;
          background-color: #fff;
        }
        &__name {
          font-family: "Roboto-Bold";
          font-size: 14px;
          font-weight: 900;
          letter-spacing: 0.7px;
          text-align: center;
          color: #ffffff;
          margin-top: 20px;
          margin-bottom: 10px;
        }
        &__position {
          opacity: 0.7;
          font-family: "Roboto-Light";
          font-size: 13px;
          font-weight: 300;
          text-align: center;
          color: rgba(250, 250, 250, 0.7);
        }
      }
    }
    &__textExtra {
      font-family: "Roboto-Light";
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.7px;
      text-align: center;
      color: #f3f3f3;
      margin-bottom: 27px;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "HammersmithOne-Regular";
      font-size: 16px;
      text-align: center;
      width: 140px;
      height: 40px;
      border-radius: 2.3px;
      border: solid 1px #00e0d0;
      color: #00e0d0;
      margin-bottom: 69px;
      transition: box-shadow 0.5s;
      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        cursor: pointer;
      }
    }
  }
}

.works {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-description {
      margin: 70px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__title {
        font-family: "PlayfairDisplay-Regular";
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1.1px;
        text-align: left;
        color: #413d4b;
      }
      &__link {
        position: relative;
        padding-top: 5px;
        font-family: "Roboto-Regular";
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.7px;
        text-align: right;
        color: #413d4b;
        .fa-angle-right {
          font-size: 1.5em;
          position: absolute;
          top: 2px;
          right: -20px;
        }
      }
    }
    &-samples {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      .item {
        width: 266px;
        height: 200px;
      }
      &__item1 {
        background-color: #b6b6b6;
      }
      &__item2 {
        background-color: #acacac;
      }
      &__item3 {
        background-color: #a1a1a1;
      }
      &__item4 {
        background-color: #8a8a8a;
      }
      &__item5 {
        background-color: #b6b6b6;
      }
      &__item6 {
        background-color: #a4a4a4;
      }
    }
    &__button {
      margin-top: 70px;
      margin-bottom: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 40px;
      font-family: "HammersmithOne-Regular";
      font-size: 16px;
      text-align: center;
      color: #00e0d0;
      border-radius: 2.3px;
      border: solid 1px #00e0d0;
      color: #00e0d0;
      transition: box-shadow 0.5s;
      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }
    }
  }
}
.teamMessages {
  height: 500px;
  position: relative;
  z-index: 1;
  background: url("../img/backgroundPeople.png") center no-repeat;
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #09052f, #311d5e);
    opacity: 0.85;
  }
  &-container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__sign {
      opacity: 0.9;
      font-family: "PlayfairDisplay-Regular";
      font-size: 100px;

      line-height: 0.22;
      letter-spacing: 3px;
      text-align: left;
      color: rgba(255, 255, 255, 0.9);
      margin-top: 69px;
      margin-bottom: 42px;
    }
    &__text {
      max-width: 770px;
      margin-bottom: 52px;
      opacity: 0.85;
      font-family: " PlayfairDisplay-Regular";
      font-size: 16px;
      line-height: 1.63;
      letter-spacing: 0.4px;
      text-align: center;
      color: rgba(255, 255, 255, 0.85);
    }
    &__title {
      font-family: "Roboto-Regular";
      font-size: 14px;
      font-weight: 900;
      line-height: 1.57;
      letter-spacing: 0.7px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 13px;
    }
    &__position {
      opacity: 0.7;
      font-family: "Roboto-Light";
      font-size: 13px;
      font-weight: 300;
      line-height: 1.69;
      letter-spacing: normal;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 45px;
    }
    &-slider {
      display: flex;
      justify-content: center;

      &-team {
        display: flex;
        align-items: center;
        width: 306px;
        justify-content: space-between;
        margin-left: 31px;
        margin-right: 31px;

        &__item {
          img {
          }
        }
      }
      &__arrowRight,
      &__arrowLeft {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 30px;
        transition: color 0.5s;
        &:hover {
          color: #4aa3cc;
          cursor: pointer;
        }
      }
    }
  }
}

.contact {
  width: 100%;
  height: 654px;
  &-container {
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-form {
      max-width: 460px;
      form {
        display: flex;

        flex-direction: column;
        .title {
          font-family: "PlayfairDisplay-Bold";
          font-size: 22px;
          font-weight: bold;
          letter-spacing: 1.1px;
          text-align: left;
          color: #413d4b;
          margin-bottom: 35px;
        }
        input {
          box-sizing: border-box;
          width: 460px;
          height: 45px;
          padding: 17px 21px;
          outline: none;
          margin-bottom: 21px;
          border: solid 1px rgba($color: #000000, $alpha: 0.1);
        }
        textarea {
          box-sizing: border-box;
          width: 460px;
          height: 200px;
          padding: 17px 21px;
          outline: none;
          border: solid 1px rgba($color: #000000, $alpha: 0.1);
          resize: none;
          margin-bottom: 21px;
        }
        button {
          width: 120px;
          height: 40px;
          border-radius: 2px;
          border: solid 1px #00e0d0;
          color: #00e0d0;
          background-color: #fff;
          transition: box-shadow 0.5s;
          &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            cursor: pointer;
          }
        }
      }
    }
    &-clients {
      max-width: 380px;
      &__title {
        width: fit-content;
        font-family: "PlayfairDisplay-Bold";
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1.1px;
        text-align: left;
        color: #413d4b;
        margin-bottom: 47px;
      }
      &-list {
        display: flex;
        width: fit-content;
        flex-wrap: wrap;
        justify-content: space-between;
        &__item {
          width: 40%;
          margin-bottom: 48px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.footer {
  height: 400px;
  z-index: 1;
  width: 100%;
  position: relative;
  background: url("../img/backgroundFooter.png") center no-repeat;
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #09052f, #311d5e);
    opacity: 0.85;
  }
  &-container {
    position: relative;
    z-index: 3;
    padding-top: 70px;
    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 71px;
      &-description {
        max-width: 283px;
        &-logo {
          margin-bottom: 27px;
          display: flex;
          align-items: center;
          img {
            width: 44px;
            height: 50px;
            margin-right: 11px;
          }
          &__logoName {
            height: 50px;
            background-image: linear-gradient(to top, #00e0d0, #4aa3cc), linear-gradient(to bottom, #ffffff, #ffffff);
            font-family: "Roboto-Thin";
            font-size: 30px;
            font-weight: 100;
            text-align: center;
            color: #ffffff;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &__text {
            font-family: "Roboto-Light";
            font-size: 14px;
            font-weight: 300;
            line-height: 1.86;
            letter-spacing: 0.35px;
            text-align: left;
            color: #ffffff;
          }
        }
      }
      &-studio {
        max-width: 283px;
        &__title {
          height: 50px;
          font-family: "Roboto-Black";
          font-size: 15px;
          font-weight: 900;
          line-height: 1.73;
          letter-spacing: 0.75px;
          text-align: left;
          color: #ffffff;
          margin-bottom: 30px;
          display: flex;
          align-items: center;
        }
        &__adress {
          display: flex;

          img {
            margin-right: 16px;
          }
          p {
            margin: 0;
            font-family: "Roboto-Light";
            font-size: 14px;
            font-weight: 300;
            line-height: 1.86;
            letter-spacing: 0.35px;
            text-align: left;
            color: #ffffff;
          }
        }
        &__phone {
          display: flex;

          img {
            margin-right: 16px;
          }
          p {
            margin: 0;
            font-family: "Roboto-Light";
            font-size: 14px;
            font-weight: 300;
            line-height: 1.86;
            letter-spacing: 0.35px;
            text-align: left;
            color: #ffffff;
          }
        }
      }

      &-social {
        max-width: 291px;
        &__title {
          display: flex;
          align-items: center;
          height: 50px;
          font-family: "Roboto-Black";
          font-size: 15px;
          font-weight: 900;
          line-height: 1.73;
          letter-spacing: 0.75px;
          text-align: left;
          color: #ffffff;
          margin-bottom: 30px;
        }
        form {
          display: flex;
          input {
            color: #fff;
            width: 211px;
            height: 45px;
            border: solid 1px rgba($color: #fff, $alpha: 0.5);
            box-sizing: border-box;
            background-color: transparent;
            padding: 17px 16px;
            outline: none;
            margin-right: 10px;
            margin-bottom: 27px;
          }
          .button {
            width: 70px;
            height: 45px;
            opacity: 0.5;
            border: solid 1px #ffffff;
            box-sizing: border-box;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              cursor: pointer;
            }
            img {
              width: 25px;
              height: 25px;
            }
          }
        }

        &-socialIcons {
          display: flex;

          .item {
            width: 35px;
            height: 35px;
            border: solid 1px #ffffff;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              cursor: pointer;
            }

            img {
              padding-top: 5px;
            }
            margin-right: 8px;
          }
          &__faceBook {
          }
          &__twitter {
          }
          &__dribble {
          }
          &___instagram {
          }
          &__google {
          }
          &__youTube {
          }
        }
      }
    }
    &-footerNavBar {
      display: flex;
      justify-content: space-between;
      ul {
        padding: 0;
        width: 301px;
        margin: 0;
        list-style-type: none;
        font-family: "Roboto-Regular";
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.35px;
        text-align: left;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        li {
          transition: color 0.5s;
          &:hover {
            cursor: pointer;
            color: #4aa3cc;
          }
        }
      }
      &__copyRight {
        font-family: "Roboto-Regular";
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.35px;
        text-align: right;
        color: #ffffff;
      }
    }
  }
}
