* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barCharts {
    width: 550px;
    height: 450px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.bar {
    border: 1px solid #000;
    box-sizing: border-box;
    width: 20px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.barValue, .barIndex {
    width: 20px;
    height: 20px;
    text-align: center;
}

.barWrapper {
    margin-bottom: -20px;
    margin-right:5px;
}

.lineY {
    display: flex;
    width: 20px;
    height: 310px;
    position: absolute;
    left: -20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}